<div class="widget">
	<div class="wrapper">
	<div class="profile-cv">
		<div class="profile-top">
			<div class="profil-img">
				<img src="images/profile.jpg" alt="agustealo johnson">
			</div>
			<h2>AGUSTEALO<br />JOHNSON</h2>
			<p>"Leprechauns aren't real but the gold they leave behind are. Find your dream at the end of that rainbow and make it reality."<br />
			Web site: <a href="http:www.agustealo.com">www.agustealo.com</a>
			</p>
		</div>
		<div class="profile-bttm">
         {% include social.html %}
		</div>
	</div>
	<div class="web-intro">
	<h1>Front End Developer | UI/UX Designer</h1>
		<p>I'm a seasoned digital designer and have transitioned into programing and development. I try to introduce the same creativity and functionality I acquired from my design background and apply the same discipline in my programing and development.</p><p class="space"></p>

		<p>I design and develop using the latest in what’s trending in design, technology and web standards. Offering Speed, Flexibility, Expandability, Compatibility, and Compliance with Css / Html, Mobile Websites, CMS & E-Commerce Integration, iOS Applications.</p><p class="space"></p>

		<p>We develop incredible web and mobile applications to support your business, from bespoke content management systems to powerful multi-platform mobile solutions. We design websites with usability and communication in mind. Our sites are always designed and coded with care and precision. We also specialize in e-Commerce sites that are conversion friendly & sales driven.
		</p>
</div>
</div>
</div>